:root {
  --white: #FFFFFF;
  --metal: #2B303A;
  --metal-light:#E9EDF4;
  --metal-middle: #7A818E;
  --metal-dark: #111317;


  --gradient-metal: linear-gradient(90deg, #2B303A 0%, #3F4756 100%);
  --gradient-metal-light:  linear-gradient(90deg, #D3DAE8 0%, #A7B7D8 100%);
  --gradient-red: linear-gradient(90deg, #911812 0%, #E1261C 100%);
}
