@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import "colors";
@import "typography";
@import "mixins";
@import "animations";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include responsive(810px) {
    font-size: 55%;
  }

  @include responsive(600px) {
    font-size: 50%;
  }
}

body {
  font-family: 'Sora', sans-serif;
  font-size: 1.6rem;
  color: var(--white);
  background: var(--gradient-metal);
}
